/*css file*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

body{
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  width: auto;
  height: auto;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: white;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
main {
  flex: 1 0 auto;
}
nav{
  background-color: #12407f;
  color: white;
}
.nav-wrapper{margin: 0px 5%;}
.brand-logo{
  margin: 8px 0px;
}
.nav-content{
  background: #013870;
  background: -moz-linear-gradient(left, #013870 0%, #31608e 33%, #466994 49%, #466994 49%, #31608e 64%, #013870 100%);
  background: -webkit-linear-gradient(left, #013870 0%,#31608e 33%,#466994 49%,#466994 49%,#31608e 64%,#013870 100%);
  background: linear-gradient(to right, #013870 0%,#31608e 33%,#466994 49%,#466994 49%,#31608e 64%,#013870 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013870', endColorstr='#013870',GradientType=1 );
  border-top: 2px solid #5980a4;
  border-bottom: 2px solid #5980a4;
  height: 40px;
  line-height: 30px;
}
.nav-content ul li a{
  height: 40px;
  padding: 0px 10px;
}
nav .nav-content i.material-icons{
  height: 40px;
  line-height: 30px;
}
footer.page-footer{
  background-color: #12407f;
}

/*responsive*/
@media only screen and (max-width: 1280px) {
  .nav-content ul li a{
    padding: 0px 4px;
  }
}
@media only screen and (max-width: 1024px) {
  .nav-content ul li a{
    padding: 0px 3px;
  }
}
@media only screen and (max-width: 992px) {
  nav .brand-logo{
    left: 25%;
  }
  #dropdown1{
    width: 200px !important;
  }
}
@media only screen and (max-width: 600px){
  nav .brand-logo{
    left: 25%;
    width: 50%;
    margin: 7px 3px;
  }
  nav ul a{
    padding: 0 0;
  }
  i.left{
    margin-right: 0px !important;
  }
}
